---
name: Apply
on:
  push:
    branches:
      main
    paths:
      - '.github/workflows/apply.yml'
      - '**.tf'

concurrency:
  group: 'apply-${{ github.head_ref }}'
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.0-beta

      - run: terraform init

      - id: apply
        run: terraform apply -auto-approve -no-color
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          TF_IN_AUTOMATION: true
